@font-face{
  font-family: 'Kanit';
  src:url('./assets/Kanit-Regular.ttf')
}
@font-face{
  font-family: 'Libre';
  src:url('./assets/LibreFranklin-Regular.ttf')
}



::-webkit-scrollbar {
  display: none;
}